body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #004d40;
}

.navbar {
    background-color: #4db6ac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #00796b;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 60px; /* Dimensione del logo */
}

.hero {
    background-image: url('hero-image.jpg'); /* Aggiungi l'immagine di sfondo */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.content {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #004d40;
    color: white;
} 